{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/MartyC-137/seven-mile-lake.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
} 